<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/signin.css">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>
<body>

<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="#">
            <h1>Demande création compte</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fa fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
            </div>
            <span>Utilisez vos identifiants pour vous connecter</span>
            <input type="text" placeholder="Name" class="form-control m-b" v-model="title" />
            <textarea type="email" class="form-control m-b" rows="5" placeholder="Message" v-model="message"></textarea>
            <button>Envoyer</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="#">
            <h1>Connexion</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fa fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
            </div>
            <span>Utilisez vos identifiants pour vous connecter</span>
            <span class="text-danger"> {{ errorMessage }} </span>
            <input type="text" placeholder="Username" v-model="email" required/>
            <input type="password" placeholder="Password" v-model="password" required/>
            <button @click="login($event)">Connexion</button> <span class="text-info" v-show="showLodder">Chargement...</span>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Content de te revoir!</h1>
                <p>Pour rester connecté avec nous, veuillez vous connecter avec vos informations personnelles</p>
                <button class="ghost" id="signIn">Connexion</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Salut l'ami!</h1>
                <p>Si vous n'avez pas de compte, veillez cliquer sur le bouton ci-dessous pur faire une demande</p>
                <button class="ghost" id="signUp">Envoyer demande</button>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.js"></script>

<script src="js/vue.js"></script>
<script src="js/config.js"></script>

<script>
    var chat_view = new Vue({
        el: '#container',
        data: {
            title: '',
            message: '',
            email: '',
            password: '',
            showLodder: false,
            errorMessage: '',
            infos : {}
        },
        methods: {
            login: function(e) {
                e.preventDefault();
                const selft = this;
                selft.showLodder = true;
                selft.errorMessage = '';
                selft.infos.username = selft.email;
                selft.infos.password = selft.password;
                $.ajax({
                    url: `${LOGIN}`,
                    type: 'POST',
                    data: JSON.stringify(selft.infos),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data, textStatus, request) {
                        selft.showLodder = false;
                        location.href = 'chat_view.html?id=1';
                        const authorization = request.getResponseHeader('Authorization');
                        document.cookie = `Authorization=${authorization}; path=/`;
                        location.href = 'chat_view.html?id=1';
                    },
                    error: function (request, textStatus, errorThrown) {
                        const authorization = request.getResponseHeader('Authorization');
                        if (request.status == 200) {
                            document.cookie = `Authorization=${authorization}; path=/`;
                            location.href = '/chat_view.html';
                        } else {
                            selft.showLodder = false;
                            selft.errorMessage = 'Le mot de passe ou l\'adresse email ne sont pas correspondant';
                        }

                    }
                }).done()
            },
        }
    })
</script>

<script type="text/javascript">
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });
</script>

</body>
</html>